@use 'mixins' as *;

// reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100%;
  height: auto;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  width: 100%;
  overflow-x: hidden;
  hyphens: auto;
  -webkit-hyphenate-character: '-';
  hyphenate-character: '-';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, svg {
  display: block;
  max-width: 100%;
}

canvas {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

button {
  appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

a {
  color: inherit;
}

// custom
::selection {
  color: var(--c-light);
  background-color: var(--c-dark);
}

html {
  &.no-overscroll {
    overscroll-behavior: none;
  }
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  background-color: var(--c-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

// scroll
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

// grid
.container {
  max-width: var(--container-max-width);
  padding-inline: var(--grid-margin);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}

// webgl
[data-webgl-media] {
  opacity: 0;
}

// tweakpane
.tp-dfwv {
  position: fixed !important;
}
